*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $font-family--primary;
  color: #384047;
  margin: 0 auto;
  @include mq(medium){
    width: 75%;
  }
}

.wrapperText{
  margin-left: em(10px);
  margin-right: em(10px);
  padding: em(10px);
}
