
  .wrapperVideo{
      width: 100% ;
      height: auto ;
      margin: 0 auto;
      display: block;
      @include mq(medium){
        margin-top: em(20px);
      }

    .mejs__button,
    .mejs__time-current{
        background-color: orange;
        -moz-box-shadow:    inset 0 0 10px #161616;
        -webkit-box-shadow: inset 0 0 10px #161616;
        box-shadow:         inset 0 0 10px #161616;
        border-radius: em(3px);
      }
}
