
  .wrapperVideo{


      width: 100% ;
      height: auto ;
      margin: 0 auto;
      display: block;
      @include mq(medium){
        margin-top: em(20px);
      }
      .mejs-controls,
      & .mejs__button,
      & .mejs__time-current{
        background-color: orange;
        -moz-box-shadow:    inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow:         inset 0 0 10px #000000;
        border-radius: em(3px);
      }
}
